<mat-card class="w-full">
    <img mat-card-image [src]="hotel.Photo" class="h-72 object-cover">
    <mat-card-content>
        <h2 mat-card-title class="text-xl font-semibold">{{ hotel.HotelName }}</h2>
        <h5 class="text-sm text-gray-600">{{ hotel.Description }}</h5>
        <div
            class="bg-blue-800 flex text-white items-center content-center justify-center h-[40px] rounded-lg w-[40px]">
            <div class="m-auto font-black">{{hotel.Rating}}</div>
        </div>
        <div class="flex items-center space-x-1">
            <mat-icon class="text-gray-500">location_on</mat-icon>
            <p class="text-sm text-gray-600">
                {{hotel.Address.StreetAddress}}, {{hotel.Address.City}}, {{hotel.Address.StateProvince}},
                {{hotel.Address.PostalCode}}, {{hotel.Address.Country}}
            </p>
        </div>
        <div class="mt-2 flex flex-wrap gap-1">
            <mat-chip-listbox>
                @for(tag of hotel.Tags; track tag){
                <mat-chip disabled>{{tag}}</mat-chip>
                }
            </mat-chip-listbox>
        </div>
    </mat-card-content>
    <mat-divider></mat-divider>
</mat-card>
<table mat-table [dataSource]="dataSource" class="min-w-full">
    <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef>Room Description</th>
        <td mat-cell *matCellDef="let element">
            <div>
                <div>{{element.Description}}</div>
                <div>@for(tag of element.Tags; track tag){
                    <mat-chip disabled>{{tag}}</mat-chip>
                    }
                </div>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="BedOptions">
        <th mat-header-cell *matHeaderCellDef>Bed Options</th>
        <td mat-cell *matCellDef="let element">{{element.BedOptions}} <mat-icon>bed</mat-icon></td>
    </ng-container>

    <ng-container matColumnDef="NumberOfGuest">
        <th mat-header-cell *matHeaderCellDef>Number Of Guest</th>
        <td mat-cell *matCellDef="let element">{{element.SleepsCount}} <mat-icon>bed</mat-icon></td>
    </ng-container>

    <ng-container matColumnDef="Price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let element">${{element.BaseRate}} each night</td>
    </ng-container>

    <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef>
            <button mat-raised-button color="primary" (click)="goBack()">Go back</button>
        </th>
        <td mat-cell *matCellDef="let element"></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>