<div class="mx-auto flex flex-col">
    <h2>Change password</h2>
    <p>Use a minimum of 10 characters, including uppercase letters, lowercase letters and numbers.</p>
    <form [formGroup]="passwordFormGroup" class="passwordForm" (ngSubmit)="changePassword()">
        <mat-form-field>
            <mat-label>Old Password</mat-label>
            <input type="password" matInput formControlName="oldPassword">
        </mat-form-field>
        @if(oldPassword && oldPassword.invalid && oldPassword.touched){
        @if (oldPassword.hasError('required')) {
        <mat-error>Old password is <strong>required</strong></mat-error>
        }
        @if (!oldPassword.hasError('required') && oldPassword.hasError('pattern')) {
        <mat-error>password format is wrong, please use a minimum of 3 characters, including uppercase letters,
            lowercase letters, and numbers.</mat-error>
        }
        @if (!oldPassword.hasError('required') && oldPassword.hasError('wrongPassword')) {
        <mat-error>The old password you entered is wrong</mat-error>
        }
        }
        <mat-form-field>
            <mat-label> Password</mat-label>
            <input type="password" matInput formControlName="password">
        </mat-form-field>
        @if(password && password.invalid && password.touched){
        @if (password.hasError('required')) {
        <mat-error>Password is <strong>required</strong></mat-error>
        }
        @if (!password.hasError('required') && password.hasError('pattern')) {
        <mat-error>password format is wrong, please use a minimum of 3 characters, including uppercase letters,
            lowercase letters, and numbers.</mat-error>
        }
        }
        <br />
        <mat-form-field>
            <mat-label> Confirm your password</mat-label>
            <input type="password" matInput formControlName="confirmPassword">
        </mat-form-field>
        @if (passwordFormGroup.errors?.['unmatchPassword'] && (passwordFormGroup.touched ||
        passwordFormGroup.dirty)) {
        <mat-error>Passwords are not matching</mat-error>
        }
        @if(confirmPassword && confirmPassword.invalid && confirmPassword.touched){
        @if (confirmPassword.hasError('required')) {
        <mat-error>Please confirm your password</mat-error>
        }
        }
        <button type="submit" mat-raised-button color="primary" [disabled]="passwordFormGroup.invalid">
            Change Password
        </button>
    </form>
</div>